<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" th:href="'../img/'+${myinfo.webicon}"/>
    <title th:text="${myinfo.webname}"></title>
    <script src="../background/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="../background/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../background/assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="../background/assets/css/app.css">
    <script src="../background/assets/js/jquery.min.js"></script>
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <script src="../js/manage.js"></script>
</head>

<body data-type="widgets">
<script src="../background/assets/js/theme.js"></script>
<div class="am-g tpl-g">

    <!--公共部分-start-->
    <!-- 头部 -->
    <header th:fragment="header">
        <!-- logo -->
        <div class="am-fl tpl-header-logo">
            <a href="javascript:void(0);"><img src="../img/logo.png" alt=""></a>
        </div>
        <!-- 右侧内容 -->
        <div class="tpl-header-fluid">
            <!-- 侧边切换 -->
            <div class="am-fl tpl-header-switch-button am-icon-list"></div>
            <!-- 其它功能-->
            <div class="am-fr tpl-header-navbar">
                <ul>
                    <!-- 欢迎语 -->
                    <li class="am-text-sm tpl-header-navbar-welcome">
                        <a href="javascript:void(0);">欢迎你, <span th:text="${session.userinfo.nickname}"></span> </a>
                    </li>
                    <!-- 退出 -->
                    <li class="am-text-sm">
                        <a href="javascript:void(0);" onclick="userLogout();"><span class="am-icon-sign-out"></span> 退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- 风格切换 -->
    <div class="tpl-skiner" th:fragment="style">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div class="left-sidebar">
        <!-- 用户信息 -->
        <div class="tpl-sidebar-user-panel">
            <div class="tpl-user-panel-slide-toggleable" th:align="center">
                <div class="tpl-user-panel-profile-picture">
                    <img th:src="'../images/'+${session.userinfo.prophoto}" alt="">
                </div>
                <span class="user-panel-logged-in-text">
                    <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
                    <label style="margin-bottom: 0px;" th:text="${session.userinfo.nickname}"></label>
                </span>
                <a href="javascript:;" class="tpl-user-panel-action-link" >
                    <span class="am-icon-pencil"></span>
                    账号设置
                </a>
            </div>
        </div>
        <!-- 菜单 -->
        <ul class="sidebar-nav">
            <li class="sidebar-nav-heading">— 后台管理系统 —</span></li>
            <li class="sidebar-nav-link">
                <a href="javascript:void(0);" onclick="index();">
                    <i class="fa fa-home sidebar-nav-link-logo"></i> 首页
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="javascript:void(0);" class="sidebar-nav-sub-title">
                    <i class="fa fa-plus-square sidebar-nav-link-logo"></i> 内容管理
                    <span class="am-icon-chevron-up am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub">
                    <li class="sidebar-nav-link ">
                        <a href="javascript:void(0);" onclick="articalList();">
                            <i class="fa fa-bookmark sidebar-nav-link-logo "></i>文章管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="categoriesList();" class="active">
                            <i class="fa fa-th-large sidebar-nav-link-logo"></i>分类管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="topicList();">
                            <i class="fa fa-magnet  sidebar-nav-link-logo"></i>专题管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="booksList();">
                            <i class="fa fa-book sidebar-nav-link-logo"></i>书籍管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="toolsList();">
                            <i class="fa fa-cutlery sidebar-nav-link-logo"></i>工具管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="gallerysList();">
                            <i class="fa fa-image sidebar-nav-link-logo"></i>相册管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="videosList();">
                            <i class="fa fa-video-camera sidebar-nav-link-logo"></i>视频管理
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-nav-link">
                <a href="javascript:void(0);" class="sidebar-nav-sub-title">
                    <i class="fa fa-plus-square sidebar-nav-link-logo"></i> 系统配置
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub" style="display: none;">
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="userList();">
                            <i class="fa fa-user sidebar-nav-link-logo"></i>用户管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="sysManage();">
                            <i class="fa fa-info sidebar-nav-link-logo"></i>前端首页索引
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="sysManage();">
                            <i class="fa fa-cog sidebar-nav-link-logo"></i>系统参数管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="sysManage();">
                            <i class="fa fa-music sidebar-nav-link-logo"></i>歌单管理
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!--公共部分-end-->
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">分类列表</div>
                        </div>
                        <div class="widget-body  am-fr">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button type="button"
                                                    class="am-btn am-btn-default am-btn-success addArticalCategoriesBtn"><span
                                                    class="am-icon-plus"></span> 新增
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black am-table-hover " id="example-r">
                                    <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>名称</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr class="gradeX"></tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="am-u-lg-12 am-cf">
                                <div class="am-fr">
                                    <ul class="am-pagination tpl-pagination">
                                        <li th:if="${pageInfo.hasPreviousPage}"><a
                                                th:href="@{'categories-list?pageIndex=1'}"
                                                aria-label="Previous"> <i class="fa fa-angle-double-left"></i>
                                        </a></li>

                                        <li th:if="${pageInfo.hasPreviousPage}"><a
                                                th:href="@{'categories-list?pageIndex='+${pageInfo.prePage}}"
                                                aria-label="Previous"> <i class="fa fa-angle-left"></i>
                                        </a></li>


                                        <th:block th:each="nav : ${pageInfo.navigatepageNums}">
                                            <li th:class="${nav==pageInfo.pageNum}?'am-active':''"><a
                                                    th:href="@{'categories-list?pageIndex='+${nav}}"
                                                    th:text="${nav}"></a></li>
                                        </th:block>

                                        <th:block th:if="${pageInfo.hasNextPage}">
                                            <li><a
                                                    th:href="@{'categories-list?pageIndex='+${pageInfo.nextPage}}"
                                                    aria-label="Next"><i class="fa fa-angle-right"></i>
                                            </a></li>
                                        </th:block>
                                        <th:block th:if="${pageInfo.hasNextPage}">
                                            <li><a
                                                    th:href="@{'categories-list?pageIndex='+${pageInfo.pages}}"
                                                    aria-label="Next"><i class="fa fa-angle-double-right"></i>
                                            </a></li>
                                        </th:block>

                                        <li><label th:text="'共'+${pageInfo.pages}+'页'"></label></li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.addArticalCategoriesBtn').click(function () {
        var url = 'categories-add'
        window.location.href = url;
    });

    function updateRow(id) {
        var url = 'categories-update?id=' + id;
        window.location.href = url;
    }
    function deleteRow(id) {

        $.ajax({
            type: "post",
            url: "articals_query_categorie",
            data: {
                id: id
            },
            dataType: 'json',
            success: function (data) {
                if (data.flag == "success") {
                    deleteCategory(id);
                } else {
                    var message = data.message;
                    AMUI.dialog.alert({
                        title: '提示信息',
                        content: '删除失败，错误原因：' + message,
                        onConfirm: function () {
                            window.location.href = "categories-list";
                        }
                    });
                }
            },
            error: function () {
                AMUI.dialog.alert({
                    title: '提示信息',
                    content: '删除失败',
                    onConfirm: function () {
                        window.location.href = "categories-list";
                    }
                });
            }
        });
    }

    function deleteCategory(id){
        AMUI.dialog.confirm({
            title: '是否确定删除',
            content: '删除后将不可恢复，是否继续？',
            onConfirm: function () {
                $.ajax({
                    type: "post",
                    url: "categories-delete",
                    data: {
                        id: id
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.flag == "success") {
                            AMUI.dialog.alert({
                                title: '提示信息',
                                content: '删除成功',
                                onConfirm: function () {
                                    window.location.href = "categories-list";
                                }
                            });

                        } else {
                            AMUI.dialog.alert({
                                title: '提示信息',
                                content: '删除失败，请重试',
                                onConfirm: function () {
                                }
                            });
                        }
                    },
                    error: function () {
                        AMUI.dialog.alert({
                            title: '提示信息',
                            content: '删除失败',
                            onConfirm: function () {
                            }
                        });
                    }
                });
            },
            onCancel: function () {
                return;
            }
        });
    }

</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var articalCategoriesList = [[${articalCategoriesList}]];
    var size = articalCategoriesList.length;
    for (var i = 1; i <= size; i++) {
        var x = document.getElementById('example-r').insertRow(i)
        var id = x.insertCell(0)
        var cateName = x.insertCell(1)
        var div = x.insertCell(2)
        id.innerHTML = articalCategoriesList[i - 1].id;
        cateName.innerHTML = articalCategoriesList[i - 1].categoryName;

        var idNo = articalCategoriesList[i - 1].id;
        var textHtml = '<div class="tpl-table-black-operation"> <a href="javascript:void(0);"'+' onclick=updateRow('+idNo+') class=""> <i class="am-icon-pencil"></i> 编辑 </a> <a href="javascript:void(0);" onclick=deleteRow(' + idNo + ') class="tpl-table-black-operation-del"> <i class="am-icon-trash"></i> 删除 </a> </div>';
        div.innerHTML = textHtml;
    }
    /*]]>*/
</script>

<script src="../background/assets/js/amazeui.min.js"></script>
<script src="../background/assets/js/amazeui.dialog.min.js"></script>
<script src="../background/assets/js/amazeui.datatables.min.js"></script>
<script src="../background/assets/js/dataTables.responsive.min.js"></script>
<script src="../background/assets/js/app.js"></script>
</body>

</html>