<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" th:href="'../img/'+${myinfo.webicon}"/>
    <title th:text="${myinfo.webname}"></title>
    <script src="../background/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="../background/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../background/assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="../background/assets/css/app.css">
    <script src="../background/assets/js/jquery.min.js"></script>
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <script src="../js/manage.js"></script>
</head>

<body data-type="widgets">
<script src="../background/assets/js/theme.js"></script>
<div class="am-g tpl-g">

    <!--公共部分-start-->
    <!-- 头部 -->
    <header th:fragment="header">
        <!-- logo -->
        <div class="am-fl tpl-header-logo">
            <a href="javascript:void(0);"><img src="../img/logo.png" alt=""></a>
        </div>
        <!-- 右侧内容 -->
        <div class="tpl-header-fluid">
            <!-- 侧边切换 -->
            <div class="am-fl tpl-header-switch-button am-icon-list"></div>
            <!-- 其它功能-->
            <div class="am-fr tpl-header-navbar">
                <ul>
                    <!-- 欢迎语 -->
                    <li class="am-text-sm tpl-header-navbar-welcome">
                        <a href="javascript:void(0);">欢迎你, <span th:text="${session.userinfo.nickname}"></span> </a>
                    </li>
                    <!-- 退出 -->
                    <li class="am-text-sm">
                        <a href="javascript:void(0);" onclick="userLogout();"><span class="am-icon-sign-out"></span> 退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- 风格切换 -->
    <div class="tpl-skiner" th:fragment="style">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div class="left-sidebar">
        <!-- 用户信息 -->
        <div class="tpl-sidebar-user-panel">
            <div class="tpl-user-panel-slide-toggleable" th:align="center">
                <div class="tpl-user-panel-profile-picture">
                    <img th:src="'../images/'+${session.userinfo.prophoto}" alt="">
                </div>
                <span class="user-panel-logged-in-text">
                    <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
                    <label style="margin-bottom: 0px;" th:text="${session.userinfo.nickname}"></label>
                </span>
                <a href="javascript:;" class="tpl-user-panel-action-link" >
                    <span class="am-icon-pencil"></span>
                    账号设置
                </a>
            </div>
        </div>
        <!-- 菜单 -->
        <ul class="sidebar-nav">
            <li class="sidebar-nav-heading">— 后台管理系统 —</span></li>
            <li class="sidebar-nav-link">
                <a href="javascript:void(0);" onclick="index();">
                    <i class="fa fa-home sidebar-nav-link-logo"></i> 首页
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="javascript:void(0);" class="sidebar-nav-sub-title">
                    <i class="fa fa-plus-square sidebar-nav-link-logo"></i> 内容管理
                    <span class="am-icon-chevron-up am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub">
                    <li class="sidebar-nav-link ">
                        <a href="javascript:void(0);" onclick="articalList();">
                            <i class="fa fa-bookmark sidebar-nav-link-logo "></i>文章管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="categoriesList();"  class="active">
                            <i class="fa fa-th-large sidebar-nav-link-logo"></i>分类管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="topicList();">
                            <i class="fa fa-magnet  sidebar-nav-link-logo"></i>专题管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="booksList();">
                            <i class="fa fa-book sidebar-nav-link-logo"></i>书籍管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="toolsList();">
                            <i class="fa fa-cutlery sidebar-nav-link-logo"></i>工具管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="gallerysList();">
                            <i class="fa fa-image sidebar-nav-link-logo"></i>相册管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="videosList();">
                            <i class="fa fa-video-camera sidebar-nav-link-logo"></i>视频管理
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-nav-link">
                <a href="javascript:void(0);" class="sidebar-nav-sub-title">
                    <i class="fa fa-plus-square sidebar-nav-link-logo"></i> 系统配置
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub" style="display: none;">
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="userList();">
                            <i class="fa fa-user sidebar-nav-link-logo"></i>用户管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="sysManage();">
                            <i class="fa fa-info sidebar-nav-link-logo"></i>前端首页索引
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="sysManage();">
                            <i class="fa fa-cog sidebar-nav-link-logo"></i>系统参数管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="sysManage();">
                            <i class="fa fa-music sidebar-nav-link-logo"></i>歌单管理
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!--公共部分-end-->
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">修改分类</div>
                        </div>
                        <div class="widget-body am-fr">

                            <form class="am-form tpl-form-border-form tpl-form-border-br" id="categories-form" type="post"  >
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">分类编号 <span class="tpl-form-line-small-title">Type Id</span></label>
                                    <div class="am-u-sm-4 am-u-sm-pull-5">
                                        <input type="text" th:value="${articalCategories.id}" readonly class="tpl-form-input" name="id"  >
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">分类名称 <span class="tpl-form-line-small-title">Type Name</span></label>
                                    <div class="am-u-sm-4 am-u-sm-pull-5">
                                        <input type="text" th:value="${articalCategories.categoryName}" class="tpl-form-input" name="categoryName" placeholder="请输入分类名称文字10-20字左右" >
                                        <small style="color: red">（必填）</small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">是否首页展示 <span class="tpl-form-line-small-title">Is Show In Homepage</span></label>
                                    <div class="am-u-sm-4 am-u-sm-pull-5">
                                        <select data-am-selected="{searchBox: 1}" style="display: none;" name="isShow" id="isShow" onchange="setShowOrder();" >
                                            <option value="Y" id="is_show_y" >是</option>
                                            <option value="N" id="is_show_n">否</option>
                                        </select>
                                        <small style="color: red">（必选）</small>
                                    </div>
                                </div>

                                <div class="am-form-group" id="zsfsbox" hidden>
                                    <label class="am-u-sm-3 am-form-label">展示方式 <span class="tpl-form-line-small-title">Show Order</span></label>
                                    <div class="am-u-sm-4 am-u-sm-pull-5">
                                        <select data-am-selected="{searchBox: 1}" style="display: none;" name="showOrder" onchange="setShowOrder();" >
                                            <option value="1" selected>置顶展示</option>
                                            <option value="0" >追加展示</option>
                                        </select>
                                        <small style="color: red">（必选）</small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">分类介绍 <span class="tpl-form-line-small-title">Type Introduce</span></label>
                                    <div class="am-u-sm-4 am-u-sm-pull-5">
                                        <textarea class="" name="introduction" rows="6" id="user-intro" placeholder="请对分类进行简单描述" th:text="${articalCategories.getIntroduction()}"></textarea>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success submit-btn">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    /*<![CDATA[*/
    $(function () {
        var type = '[[${articalCategories.isShow}]]';
        if(type == "Y"){
            $("#isShow").val("Y");
            $('#zsfsbox').show();
        }else{
            $("#isShow").val("N");
            $('#zsfsbox').hide();
        }
    });

    /*]]>*/

    function setShowOrder(){
        var isShow = $("select[name='isShow']").val();
        if(isShow == "Y"){
            $('#zsfsbox').show();
        }else{
            $('#zsfsbox').hide();
        }
    }

    $('.submit-btn').click(function () {
        var categoryName = $("input[name='categoryName']").val();
        if (categoryName == "") {
            AMUI.dialog.alert({
                title: '提示信息',
                content: '分类名称为必填',
                onConfirm: function () {
                }
            });
            return;
        }

        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "categories-updatedata" ,//url
            data: $('#categories-form').serialize(),
            success: function (result) {
                var flag = result.flag;
                if (flag == "success") {
                    AMUI.dialog.alert({
                        title: '提示信息',
                        content: '修改分类成功',
                        onConfirm: function () {
                            window.location = "categories-list";
                        }
                    });
                }else{
                    var message = result.message;
                    AMUI.dialog.alert({
                        title: '错误提示',
                        content: '创建分类失败，错误原因：'+message,
                        onConfirm: function () {
                        }
                    });
                    return;
                }
            },
            error : function() {
                AMUI.dialog.alert({
                    title: '错误提示',
                    content: '创建分类失败',
                    onConfirm: function () {
                    }
                });
                return;
            }
        });
    });
</script>

<script src="../background/assets/js/amazeui.min.js"></script>
<script src="../background/assets/js/amazeui.dialog.min.js"></script>
<script src="../background/assets/js/amazeui.datatables.min.js"></script>
<script src="../background/assets/js/dataTables.responsive.min.js"></script>
<script src="../background/assets/js/app.js"></script>
</body>
</html>