<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" th:href="'../img/'+${myinfo.webicon}"/>
    <title th:text="${myinfo.webname}"></title>

    <link rel="stylesheet" href="../background/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../background/assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="../background/assets/css/app.css">
    <script src="../background/assets/js/jquery.min.js"></script>
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <script src="../js/manage.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/viewer.css"/>
    <!--<script src="lightgallery/js/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>-->
    <script src="../js/viewer.js" type="text/javascript" charset="utf-8"></script>
</head>

<style type="text/css">
    .float {
        float: left;
        width: 300px;
        height: 220px;
        overflow: hidden;
        border: 1px solid #c6d037;
        border-radius: 10px;
        padding: 5px;
        margin: 5px;
    }

    img {
        position: relative;
    }

    .result {
        width: 290px;
        height: 150px;
        text-align: center;
        box-sizing: border-box;
    }

    #file_input {
        display: none;
    }

    .delete {
        width: 290px;
        height: 150px;
        position: absolute;
        text-align: center;
        line-height: 120px;
        z-index: 10;
        font-size: 50px;
        background-color: rgba(255, 255, 255, 0.8);
        color: #777;
        opacity: 0;
        transition-duration: 0.7s;
        -webkit-transition-duration: 0.7s;
    }

    .delete:hover {
        cursor: pointer;
        opacity: 1;
    }
</style>

<body data-type="widgets">
<script src="../background/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!--公共部分-start-->
    <!-- 头部 -->
    <header th:fragment="header">
        <!-- logo -->
        <div class="am-fl tpl-header-logo">
            <a href="javascript:void(0);"><img src="../img/logo.png" alt=""></a>
        </div>
        <!-- 右侧内容 -->
        <div class="tpl-header-fluid">
            <!-- 侧边切换 -->
            <div class="am-fl tpl-header-switch-button am-icon-list"></div>
            <!-- 其它功能-->
            <div class="am-fr tpl-header-navbar">
                <ul>
                    <!-- 欢迎语 -->
                    <li class="am-text-sm tpl-header-navbar-welcome">
                        <a href="javascript:void(0);">欢迎你, <span th:text="${session.userinfo.nickname}"></span> </a>
                    </li>
                    <!-- 退出 -->
                    <li class="am-text-sm">
                        <a href="javascript:void(0);" onclick="userLogout();"><span class="am-icon-sign-out"></span> 退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- 风格切换 -->
    <div class="tpl-skiner" th:fragment="style">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div class="left-sidebar">
        <!-- 用户信息 -->
        <div class="tpl-sidebar-user-panel">
            <div class="tpl-user-panel-slide-toggleable" th:align="center">
                <div class="tpl-user-panel-profile-picture">
                    <img th:src="'../images/'+${session.userinfo.prophoto}" alt="">
                </div>
                <span class="user-panel-logged-in-text">
                    <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
                    <label style="margin-bottom: 0px;" th:text="${session.userinfo.nickname}"></label>
                </span>
                <a href="javascript:;" class="tpl-user-panel-action-link">
                    <span class="am-icon-pencil"></span>
                    账号设置
                </a>
            </div>
        </div>
        <!-- 菜单 -->
        <ul class="sidebar-nav">
            <li class="sidebar-nav-heading">— 后台管理系统 —</span></li>
            <li class="sidebar-nav-link">
                <a href="javascript:void(0);" onclick="index();">
                    <i class="fa fa-home sidebar-nav-link-logo"></i> 首页
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="javascript:void(0);" class="sidebar-nav-sub-title">
                    <i class="fa fa-plus-square sidebar-nav-link-logo"></i> 内容管理
                    <span class="am-icon-chevron-up am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub">
                    <li class="sidebar-nav-link ">
                        <a href="javascript:void(0);" onclick="articalList();">
                            <i class="fa fa-bookmark sidebar-nav-link-logo "></i>文章管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="categoriesList();">
                            <i class="fa fa-th-large sidebar-nav-link-logo"></i>分类管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="topicList();">
                            <i class="fa fa-magnet  sidebar-nav-link-logo"></i>专题管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="booksList();">
                            <i class="fa fa-book sidebar-nav-link-logo"></i>书籍管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="toolsList();">
                            <i class="fa fa-cutlery sidebar-nav-link-logo"></i>工具管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="gallerysList();" class="active">
                            <i class="fa fa-image sidebar-nav-link-logo"></i>相册管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="videosList();">
                            <i class="fa fa-video-camera sidebar-nav-link-logo"></i>视频管理
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-nav-link">
                <a href="javascript:void(0);" class="sidebar-nav-sub-title">
                    <i class="fa fa-plus-square sidebar-nav-link-logo"></i> 系统配置
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub" style="display: none;">
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="userList();">
                            <i class="fa fa-user sidebar-nav-link-logo"></i>用户管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="sysManage();">
                            <i class="fa fa-info sidebar-nav-link-logo"></i>前端首页索引
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="sysManage();">
                            <i class="fa fa-cog sidebar-nav-link-logo"></i>系统参数管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:void(0);" onclick="sysManage();">
                            <i class="fa fa-music sidebar-nav-link-logo"></i>歌单管理
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!--公共部分-end-->
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf" id="float-parent">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf" style="font-style: italic;font-weight: bold" th:text="'当前相册名称：'+${gallerys.name}"></div>
                    </div>
                    <div class="container">
                        <label>请选择一个图像文件：</label>
                        <button type="button" id="select" class="am-round am-btn am-btn-success am-btn-sm">选择图片</button>
                        <button type="button" id="add" class="am-round am-btn am-btn-success am-btn-sm">(追加)图片</button>
                        <input type="file" id="file_input" multiple/>
                        <!--用input标签并选择type=file，记得带上multiple，不然就只能单选图片了-->
                        <button type="button" id="submit" class="am-round am-btn am-btn-success am-btn-sm">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    /*<![CDATA[*/
    var gallery_id = [[${gallerys.id}]];
    /*]]>*/

    window.onload = function () {
        var input = document.getElementById("file_input");
        var result;
        var dataArr = []; // 储存所选图片的结果(文件名和base64数据)
        var fd;  //FormData方式发送请求
        fd = new FormData();
        var oSelect = document.getElementById("select");
        var oAdd = document.getElementById("add");
        var oSubmit = document.getElementById("submit");
        var oInput = document.getElementById("file_input");

        if (typeof FileReader === 'undefined') {
            alert("抱歉，你的浏览器不支持 FileReader");
            input.setAttribute('disabled', 'disabled');
        } else {
            input.addEventListener('change', readFile, false);
        }

        function readFile() {
            //fd = new FormData();
            var iLen = this.files.length;
            for (var i = 0; i < iLen; i++) {
                if (!input['value'].match(/.jpg|.gif|.png|.jpeg|.bmp/i)) {　　//判断上传文件格式
                    return alert("上传的图片格式不正确，请重新选择");
                }
                var reader = new FileReader();
                //fd.append(i, this.files[i]);
                fd.append("file", this.files[i]);
                reader.readAsDataURL(this.files[i]);  //转成base64
                reader.fileName = this.files[i].name;

                reader.onload = function (e) {
                    var imgMsg = {
                        name: this.fileName,//获取文件名
                        base64: this.result   //reader.readAsDataURL方法执行完后，base64数据储存在reader.result里
                    }
                    dataArr.push(imgMsg);
                    result = '<div class="delete" id="delete">delete</div><div class="result"><img class="subPic" src="' + this.result + '" alt="' + this.fileName + '"/>' +
                        '</div><div><input class="describe" id="describe" placeholder="照片描述" style="height: 50px;width: 290px; margin-top: 5px" /></div>';
                    var div = document.createElement('div');
                    div.innerHTML = result;
                    div['className'] = 'float';
                    //document.getElementsByTagName('body')[0].appendChild(div);  　　//插入dom树
                    document.getElementById("float-parent").appendChild(div);
                    var img = div.getElementsByTagName('img')[0];
                    img.onload = function () {
                        var nowHeight = ReSizePic(this); //设置图片大小
                        this.parentNode.style.display = 'block';
                        var oParent = this.parentNode;
                        if (nowHeight) {
                            //oParent.style.paddingTop = (oParent.offsetHeight - nowHeight) / 2 + 'px';
                        }
                    }
                    var div1 = div.getElementsByClassName('delete')[0];
                    div1.onclick = function () {
                        $(this).parent().remove();                  // 在页面中删除该图片元素
                    }
                }
            }
        }

        function send(){
            //方法一：文件上传
            var submitArr = [];
            $('.subPic').each(function () {
                    var keystr = $(this).attr('alt');
                    var value = $(this).parents('div').next('div').find('input:first').val();
                    var str = {};
                    str.name = keystr;
                    str.value = value;
                    submitArr.push(str);
                }
            );
            fd.delete("desc");
            fd.append("desc",JSON.stringify(submitArr))

            //方法二：文件上传
            $.ajax({
                url:'galleryimg-upload',
                type:'post',
                data: fd,
                processData:false,
                contentType:false,
                success:function(data){
                    if (data.flag == "success") {
                        AMUI.dialog.alert({
                            title: '提示信息',
                            content: '上传成功',
                            onConfirm: function () {
                                window.location.href = "upload_gallerys?id="+gallery_id;
                            }
                        });
                    }else{
                        AMUI.dialog.alert({
                            title: '错误信息',
                            content: '上传失败',
                            onConfirm: function () {
                                return ;
                            }
                        });
                    }
                }
            })
        }

        function send2() {
            //方法二：base64上传
            var submitArr = [];
            $('.subPic').each(function () {
                    submitArr.push({
                        name: $(this).attr('alt'),
                        base64: $(this).attr('src'),
                        desc:$(this).parents('div').next('div').find('input:first').val()
                    });
                }
            );

            var data = JSON.stringify(submitArr);
            console.log(data);
            $.ajax({
                url: 'galleryimg-send',
                type: 'post',
                //data: JSON.stringify(submitArr),
                data: {
                    base64Str: JSON.stringify(submitArr),
                    gallery_id: gallery_id
                },

                dataType: 'json',
                //processData: false,   用FormData传fd时需有这两项
                //contentType: false,
                success: function (data) {
                    if (data.flag == "success") {
                        AMUI.dialog.alert({
                            title: '提示信息',
                            content: '上传成功',
                            onConfirm: function () {
                                window.location.href = "upload_gallerys?id="+gallery_id;
                            }
                        });
                    }
                }
            })
        }

        oSelect.onclick = function () {
            oInput.value = "";   // 先将oInput值清空，否则选择图片与上次相同时change事件不会触发
            //清空已选图片
            $('.float').remove();
            for (var key of fd.keys()){
                fd.delete(key);
            };
            fd.append("gallery_id",gallery_id);
            oInput.click();
        }

        oAdd.onclick = function () {
            oInput.value = "";   // 先将oInput值清空，否则选择图片与上次相同时change事件不会触发
            oInput.click();
        }

        oSubmit.onclick = function () {
            if (!dataArr.length) {
                AMUI.dialog.alert({
                    title: '提示信息',
                    content: '请先上传照片',
                    onConfirm: function () {
                        return ;
                    }
                });
            }
            send();
        }
    }

    /*
     用ajax发送fd参数时要告诉jQuery不要去处理发送的数据，
     不要去设置Content-Type请求头才可以发送成功，否则会报“Illegal invocation”的错误，
     也就是非法调用，所以要加上“processData: false,contentType: false,”
     * */

    function ReSizePic(ThisPic) {
        /*var RePicWidth = 200; //这里修改为您想显示的宽度值

        var TrueWidth = ThisPic.width; //图片实际宽度
        var TrueHeight = ThisPic.height; //图片实际高度

        if (TrueWidth > TrueHeight) {
            //宽大于高
            var reWidth = RePicWidth;
            ThisPic.width = reWidth;
            //垂直居中
            var nowHeight = TrueHeight * (reWidth / TrueWidth);
            return nowHeight;  //将图片修改后的高度返回，供垂直居中用
        } else {
            //宽小于高
            var reHeight = RePicWidth;
            ThisPic.height = reHeight;
        }*/
        ThisPic.width = 290;
        ThisPic.height = 150;
    }

</script>

<script src="../background/assets/js/amazeui.min.js"></script>
<script src="../background/assets/js/amazeui.dialog.min.js"></script>
<script src="../background/assets/js/amazeui.datatables.min.js"></script>
<script src="../background/assets/js/dataTables.responsive.min.js"></script>
<script src="../background/assets/js/app.js"></script>
</body>
</html>