body{
    font-family: sans-serif;
}
.container {
    width: 100%;
    position: relative;
}
@media screen and (max-width: 1920px) {
    .container{
        width: 80%;
    }
}

@media screen and (max-width: 1366px) {
    .container{
        width: 85%;
    }
}

@media screen and (max-width: 1024px) {
    .container{
        width: 100%;
    }
}

.navbar-brand{
    font-family: 微软雅黑;
    font-weight: bolder;
    font-size: 20px;
}
/*.navbar-brand .img-circle{
    margin-right: 10px;
}*/
@media screen and (max-width: 1366px) {
    .navbar-inverse .navbar-collapse{
        margin-right: -165px;
    }
}

@media screen and (max-width: 1920px) {
    .navbar-inverse .navbar-nav > li {
        margin-left: 8px;
        margin-right: 8px;
        font-weight: bolder;
        font-size: 15px;
    }
}
@media screen and (max-width: 1366px) {
    .navbar-inverse .navbar-nav > li {
        margin-left: 0px;
        margin-right: 0px;
        font-weight: bolder;
        font-size: 15px;
    }
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 2;
    color: #9D9D9D;
    white-space: nowrap;
}

.navbar-inverse .navbar-nav > li:hover .dropdown-menu {
    display: block;
    width: auto;
    background-color: #333333;
}
.navbar-inverse .navbar-nav .dropdown a:hover {
    background-color: #b1244e;
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #b1244e;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #D23039;
}
a:focus {
    text-decoration: none;
}
.write-blog {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
}
.music {
    margin-left: 5px;
    margin-top: 2px;
    margin-right: 0px;
    color: #bdbdbd;
}

.write-icon {
    color:#bdbdbd;
}
.message-center {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
}
.message-icon {
    color: #bdbdbd;
}

.navbar .btn {
    background-color: #006741;
    color: #fff;
}

.navbar .btn:hover {
    background-color: #009A61;
    color: #fff;
}

.navinfo{
    margin: 10px 0 ;
    display:inline-block;
}
.navinfo .btn{
    margin: 0 5px;
}
.navinfo > span{
    margin: 15px 15px;
    font-size: 13px;
    color: #fff;
}
label {
    max-width: 100%;
    margin-bottom: 0;
    font-weight: normal;
}

.index-card-footer {
    font-size: 0.85em;
    line-height: 1.6em;
    border-top: 1px solid #eceff2;
    padding-top: 5px;
    margin-top: 20px;
    margin-right: 10px;
    text-align: right;
}
/*footer*/
footer { background: #373D41; width: 100%; border-top: #de00a4 3px solid; padding: 15px 0; color: #bac0c5; font-size: 12px; }
.wxbox { overflow: hidden; float: left; margin-right: 20px }
.wxbox li { float: left; margin: 0 10px; text-align: center }
.wxbox img { height: 100px }
.endnav b { font-size: 15px; color: #de0066; }
.endnav p { margin-bottom: 5px ;    margin-top: 0px;}
footer a { color: #73777a; }
footer a:hover { color: #00C1DE }
.top { border-radius: 50%; width: 40px; height: 40px; display: block; background: url(../images/top.png) no-repeat center #000; right: 20px; bottom: 10%; position: fixed }

