body{
    font-family: sans-serif;
}
.container {
    width: 100%;
    position: relative;
}
@media screen and (max-width: 1920px) {
    .container{
        width: 80%;
    }
}

@media screen and (max-width: 1366px) {
    .container{
        width: 90%;
    }
}

.navbar-brand{
    font-family: 微软雅黑;
    font-weight: bolder;
    font-size: 20px;
}
.navbar-brand .img-circle{
    margin-right: 10px;
}

.navbar-inverse .navbar-nav > li  {
    margin-left: 8px;
    margin-right: 8px;
    font-weight: bolder;
    font-size: 15px;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 2;
    color: #9D9D9D;
    white-space: nowrap;
}

.navbar-inverse .navbar-nav > li:hover .dropdown-menu {
    display: block;
    width: auto;
    background-color: #333333;
}
.navbar-inverse .navbar-nav .dropdown a:hover {
    background-color: #b1244e;
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #b1244e;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #D23039;
}
.write-blog {
    margin-left: 10px;
    margin-right: 5px;
    font-size: 12px;
}

.write-icon {
    margin: 0px 3px 3px 0px;
}
.message-center {
    margin-left: 10px;
    margin-right: 5px;
    font-size: 12px;
}
.message-icon {
    width: 20px;
    height: 16px;
    margin: 0px 3px 3px 0px;
}

.navbar .btn {
    background-color: #006741;
    color: #fff;
}

.navbar .btn:hover {
    background-color: #009A61;
    color: #fff;
}

.navinfo{
    margin: 10px 0 ;
    display:inline-block;
}
.navinfo .btn{
    margin: 0 5px;
}
.navinfo > span{
    margin: 15px 15px;
    font-size: 13px;
    color: #fff;
}
label {
    max-width: 100%;
    margin-bottom: 0;
    font-weight: normal;
}
