body{
    background-color: #E9EAED;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}
.spandate{
    font-size: 12px;
    color:#aaa;
    margin-right: 5px;
}
.tag_clouds{
    font-size:17px;margin-right: 2px;
}
.card {
    box-shadow: 0px 1px 0px rgba(255, 255, 255, .1), inset 0px 1px 1px rgba(0, 0, 0, .7);
    border-radius: 3px;
    background: url(../images/quote-bg.png) no-repeat top right rgba(42, 42, 42, 1);
    padding-bottom: 25px;
    margin-bottom: 10px;
    overflow: hidden;
}

.card h2 {
    font-size: 22px;
    margin: 10px;
    color: #89919a;
    font-weight: normal;
    padding-bottom: 10px;
}

.card p {
    font-size: 12px;
    padding: 0 0 0 20px;
    line-height: 28px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
    color: #d0d2d4;
    -webkit-animation: animations2 5s ease-in-out 5s;
    -moz-animation: animations2 5s ease-in-out 5s;
    -o-animation: animations2 5s ease-in-out 5s;
    -ms-animation: animations2 5s ease-in-out 5s;
    animation: animations2 5s ease-in-out 5s;
}
.block{
    background: #fff; border-radius: 3px; padding: 10px; overflow: hidden;
    margin-top: 5px; margin-bottom: 5px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.content-list {
    display: block;
    margin-bottom: 7px;
    justify-content: space-between;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content-list  a {
    color: grey;
    font-size: 13px;
    width: 80%;
}
.content-list  a:hover {color: #d43f3a;font-weight: bold;text-underline: none;}
/*tab_buttons*/
.tab_buttons { margin-bottom: 10px; width: 100%; overflow: hidden; border-bottom: #e4e3e3 1px solid;/* position: relative; */ }
.tab_buttons li { display: block; font-size: 16px; line-height: 40px; float: left; width: 100px; text-align: center;position: relative; cursor:pointer;font-weight: bold; }
.newscurrent:after { content: ""; background: #000; width: 100px; height: 2px; position: absolute; bottom: 0; left: 0; }
.newsitem { display: none; }
.newsitem:nth-child(1) { display: block; }
/*tab_box*/

.tab_box { clear: both; position: relative;height: 300px; margin-top: 10px;margin-bottom: 10px; }
.newslist { float: right; width: 60% }
.newslist li { overflow: hidden; line-height: 30px;}
.newslist li a {height: 35px;
    text-decoration: none;
    color: #333;
}
.newslist li img { width: 100% }
.newslist li { height: 30px; }
.newslist li:hover { height: 100%; background: #f7f7f7 }
.newslist li:hover a { color: #000; font-weight: bold }
.newslist li:hover i { background: #222; }
.newslist li:nth-child(1) { height: 100%; background: #f7f7f7 }
.newslist li:nth-child(1) a { color: #000; font-weight: bold }
.newslist li:nth-child(1) i { background: #9a9a9a; }
.newslist:hover li:nth-child(1) { height: 22px; background: none; }
.newslist:hover li:nth-child(1) a { color: #333; font-weight: normal }
.newslist:hover li:nth-child(1) i { background: #9a9a9a; }
.newslist:hover li:nth-child(1):hover { height: 100%; background: #f7f7f7; }
.newslist:hover li:nth-child(1):hover a { color: #000; font-weight: bold }
.newslist:hover li:nth-child(1):hover i { background: #222; }
.newslist p { line-height: 24px; font-size: 14px; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2; height: 50px; }
.newspic { float: left; width: 35%; height: 250px; overflow: hidden; position: relative; }
.newspic ul { overflow: hidden; }
.newspic li { height: 110px; position: relative; background: rgba(0,0,0,1); overflow: hidden; margin-bottom: 15px; border-radius: 3px }
.newspic li a { display: block; overflow: hidden;}


.linkmore { margin-left: -35px; }
.linkmore li { width: 25%; float: left;list-style: none; }
@media screen and (max-width: 1920px) {
    .linkmore li a { height: 67px; display: block; overflow: hidden; box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7); border-radius: 50%; margin: 0 5px; }
}
@media screen and (max-width: 1366px) {
    .linkmore li a { height: 55px; display: block; overflow: hidden; box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7); border-radius: 50%; margin: 6px 5px; }
}

.linkmore li a:hover { opacity: 0.5; }
a.iconfont.icon-zhuye {color: #ef5509;font-size: 36px;background: url(../images/c01.png) no-repeat center  ;}
a.iconfont.icon-youxiang { color: #FF991A; font-size: 28px;    background: url(../images/c02.png) no-repeat center ; }
a.iconfont.icon--- { color: #1296DB;    background: url(../images/c03.png) no-repeat center; }
a.iconfont.icon-weixin { color: #07AF12;    background: url(../images/c04.png) no-repeat center; }
#weixin { position: relative }
#weixin i { display: block; position: absolute; bottom: 55px; right: 0 }
#weixin i img { height: 100px; display: none }
#weixin:hover i img { display: block }



.newspic img { height: 100%; width: 100%; opacity: .7; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; transition: all 0.5s; }
.newspic span { bottom: 0; position: absolute; bottom: 30%; left: 0; right: 0; color: #FFF; text-align: center; font-size: 15px; padding: 0 40px; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2; line-height: 22px; }
.newspic li:hover img { opacity: .9; transform: scale(1.1); }
.newsitem ul li i { display: block; width: 20px; height: 20px; background: #9a9a9a; float: left; margin-top: 6px; margin-right: 20px; position: relative; font-style: normal }
.newsitem ul li i::before { position: absolute; left: 0; top: 0; font-size: 9px; color: #fff; line-height: 20px; width: 20px; text-align: center }
.newsitem ul li:first-child i { background: #222; }
.newsitem ul li:first-child i::before { content: "1"; }
.newsitem ul li:nth-child(2) i::before { content: "2"; }
.newsitem ul li:nth-child(3) i::before { content: "3"; }
.newsitem ul li:nth-child(4) i::before { content: "4"; }
.newsitem ul li:nth-child(5) i::before { content: "5"; }
/*htitle*/
.htitle { font-size: 1.3em; line-height: 40px; border-bottom: 1px solid #eceff2; color: #009688; font-weight: 700; position: relative; margin-bottom: 10px; }
.htitle:after { content: ""; position: absolute; width: 60px; height: 2px; content: ""; background: #000; left: 0; bottom: 0; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; transition: all .5s ease; }
.htitle:hover:after { width: 80px; }
.hnav { float: right }
.hnav a { display: block; margin-right: 10px; padding-right: 10px; float: left; position: relative }
.hnav a:after { position: relative; content: "/"; right: -10px; bottom: 0; color: #ccc }
.hnav a:last-child::after { content: "" }
/*tongji*/
.tongji li { margin-bottom: 8px }
.tongji li a { color: #096 }
.tongji li a:hover { text-decoration: underline; color: #000 }
.tongji_gzh { width: 80%; margin: auto; overflow: hidden; }
.tongji_gzh img { width: 100% }

/*bloglist*/
.bloglist ul { padding: 10px 0 0 }
.bloglist li { overflow: hidden; margin-bottom: 20px; border-bottom: #eee 5px solid ;  position: relative; min-height: 120px; }
.blogtitle { margin: 0 0 10px 0; font-size: 16px; font-weight: bold; overflow: hidden; }
 .blogtitle a { color: #337ab7; }
.bloglist li:hover .blogtitle a:hover { color: #D23039; }
.blogtitle b { color: #F00 }
/*a.viewmore { display: block; right: 10px; bottom: 20px; position: absolute; padding: 3px 10px; background: #12b7de; color: #fff; border-radius: 3px; }*/

a.viewmore { display: inline-block; right: 10px; bottom: 20px; position: absolute;
    padding: 3px 10px;
    background: #222;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #222;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    line-height: 2;}

a.viewmore:hover{
    color: #222;
    background: #fff;
}

.blogpic { float: left; width: 23.2%; margin-right: 20px; display: block; overflow: hidden; border-radius: 3px; position: relative }
.blogpic i { display: block; position: absolute; top: 0; left: 0; z-index: 9; font-style: normal; padding: 3px 5px; background: rgba(18,182,221,.8); font-size: 14px; }
.blogpic i a { color: #FFF }
.bplist { display: block; overflow: hidden }
.bplist a { display: block; float: left; width: 25%; overflow: hidden }
.bplist a img { border-radius: 3px; width: 200px; height: 140px; margin: 0 15% 0 15%; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; transition: all 0.5s; }
.bplist a img:hover { transform: scale(1.05) }
.blogtext { font-size: 14px; color: #666; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3; margin-top: 20px }
.bloginfo { margin-top: 20px; overflow: hidden; color: #999; line-height: 34px; }
.bloginfo span { margin: 0 5px;font-size: 12px; font-weight: bold;}
.bloginfo span a { color: #096 }
.avatar img { width: 30px; border-radius: 50%; }

/*pagelist*/
.pagelist { font-weight: bold;text-align: center; color: #666; width: 100%; clear: both;  }
.pagelist a { color: #666; margin:  0 10px 0 10px; padding: 5px 10px; background: #F7F7F7; display: inline-block; }
.pagelist .pageactive{ color: #FFF; background: #1C2327; }
.pagelist a:hover { color: #3690cf; color: #FFF; background: #1C2327; }
.pagelist > b { padding: 5px 10px; }
a.curPage { color: #19585d; font-weight: bold; }



.tag_clouds a {
    display: inline-block;
    margin: 0 2px 4px 0;
    padding: 4px 12px;
    border: 1px solid #f0f0f0;
    line-height: 19px;
    font-size: 13px!important;
}
.tag_clouds a:hover {
    display: inline-block;
    margin: 0 2px 4px 0;
    padding: 4px 12px;
    border: 1px solid #f0f0f0;
    color: #d43f3a;
    line-height: 19px;
    font-size: 13px!important;
}

.feed-about {
    position: relative;
    font-size: 18px;
    display: block;
}
.about-main {
    font-size: 14px;
    padding: 5px 10px 5px;
}
.about-img {
    text-align: center;
    background: url(/images/about-bg.jpg) center center no-repeat;
    background-size: cover;
    height: 80px;
    margin: 0 0 25px 0;
}
.about-img img {
    width: 80px;
    height: auto;
    margin: 20px 0 0 0;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid #e21b1b;
}
.about-name {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    height: 30px;
}
.about-the{
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
#feed_widget ul {
    margin: 0 10px;
    overflow: hidden;
    padding-left: 0px;
}
#feed_widget li {
    float: left;
    width: 20%;
    height: 40px;
    line-height: 38px;
    list-style:none;
}

#feed_widget a {
    width: 40px;
    display: block;
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#feed_widget a.qq{
    border-color: #4FC3FF;
    color: #4FC3FF;
}
#feed_widget a.weibo{
    border-color: #FF9595;
    color: #FF9595;
}
#feed_widget a.weixin{
    border-color: #85D57D;
    color: #85D57D;
}
#feed_widget a.github{
    border-color: #4F5D95;
    color: #4F5D95;
}
#feed_widget a.rss{
    border-color: #F18D2B;
    color: #F18D2B;
}

#feed_widget a:hover{
    border-color: red;
    color: red;
}
