<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png"/>
    <title th:text="${myinfo.webname}"></title>

    <link href="background/assets/css/amazeui.min.css" rel="stylesheet">
    <link href="css/default.css" rel="stylesheet" type="text/css"/>
    <script src="js/jquery-3.3.1.min.js"></script>
    <!--bootstrap库-->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link href="css/default.css" rel="stylesheet" type="text/css"/>
    <link href="css/categories.css" rel="stylesheet" type="text/css"/>
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <script src="js/common.js"></script>
</head>
<style type="text/css">

</style>
<script language="JavaScript">

</script>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-inverse">
        <div class="header">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"  href="javascript:void(0);" onclick="homepage()">
                	<span>
                		<img src="img/brand.jpg" class="img-circle"  style="height: 30px;width: 30px">
                	</span>
                    <span th:text="${myinfo.webname}" onclick="homepage()"></span>
                </a>
            </div>
            <div class="container">
                <div id="navbar-menu" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="javascript:void(0);" onclick="homepage();"><span class="glyphicon glyphicon-home">&nbsp;首页</span></a></li>
                        <li class="active"><a href="javascript:void(0);" onclick="showCategories();"><span class="glyphicon glyphicon-th">&nbsp;分类</span></a></li>
                        <li><a href="javascript:void(0);" onclick="showArchive();"><span class="glyphicon glyphicon-time">&nbsp;归档</span></a></li>
                        <li><a href="javascript:void(0);" onclick="showTopic();"><span class="glyphicon glyphicon-bookmark">&nbsp;专题</span></a></li>
                        <li><a href="javascript:void(0);" onclick="showAboutme();"><span class="glyphicon glyphicon-user">&nbsp;关于我</span></a></li>
                        <li><a href="javascript:void(0);" onclick="showTransfer();"><span class="glyphicon glyphicon-eye-open">&nbsp;传送门</span></a></li>
                    </ul>

                    <li class="navinfo"><i class="fa fa-edit write-icon"></i><a class="write-blog" href="javascript:void(0);"><span>写博客</span></a></li>
                    <li class="navinfo"><i class="fa fa-envelope message-icon"></i><a class="message-center" href="javascript:void(0);"><span>消息</span></a></li>
                    <li class="navinfo"><a class="music" onclick="musicplayer();"><span class="fa fa-music"></span></a></li>
                    <li class="navinfo" >
                        <span>
                            <a href="#" id="myinfo" data-toggle="popover" data-placement="bottom" data-trigger="hover">
                                <img class="img-circle" style="height: 30px;width: 30px;margin: 0 5px;" src="images/author.jpg" />
                            </a>
                            <label >晚上好，老干部</label>
                        </span>
                    </li>
                    <li class="navinfo" style="display: none"><a href="javascript:void(0);"><button class="btn btn-sm">登录</button></a></li>
                    <li class="navinfo" style="display: none"><a href="#"><button class="btn btn-sm">注册</button></a></li>
                </div>
            </div>
        </div>
    </nav>
    <div id="main">
        <div class="am-container">
            <div class="am-g">
                <div class="site-inner">
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="categories">
                            <div class="categories-title"><h3 style="font-size: 20px">Categories</h3></div>
                            <div class="categories-comment am-animation-slide-top">

                                <!--<label th:text="${categoryInfo}"></label>-->
                                <div class="category" th:each="categoryInfo:${categoryInfos}">
                                    <span th:if="${categoryInfo['current'] =='N'}">
                                        <a href="javascript:void(0);" class="left-name-info" th:onclick="'javascript:showCategories('+${categoryInfo['categoryId']}+')'" th:text="${categoryInfo['categoryName']}"></a>
                                        <span class="left-num-info"
                                              th:text="'('+${categoryInfo['categoryNum']}+')'"></span>
                                    </span>
                                    <span th:if="${categoryInfo['current']=='Y'}">
                                        <a class="left-name-info-2" th:text="${categoryInfo['categoryName']}"></a>
                                        <span class="left-num-info-2"
                                              th:text="'('+${categoryInfo['categoryNum']}+')'"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u-md-9">
                        <div class="categoryTimeline">
                            <div class="timeline timeline-wrap">
                                <div class="timeline-row"><span class="node"
                                                                style="-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;"><i
                                        class="am-icon-folder"></i></span>
                                    <h1 class="title  am-animation-slide-top" th:text="${articalCategoryName}"></h1></div>
                                <div class="timeline-row-major" th:each="artical:${articals}"><span
                                        class="node am-animation-slide-top "></span>
                                    <div class="content am-animation-slide-top ">

                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <a href="javascript:void(0);" class="contentTitle"
                                                   th:onclick="'javascript:articalDetail('+${artical['id']}+')'"
                                                   th:text="${artical['tittle']}"></a>
                                                <div class="" style="margin-top: 5px;color: #A2A2A2;">
                                                    <i class="am-icon-calendar">
                                                        <a href="javascript:void(0);" class=""
                                                           style="font-size: 12px;margin-right: 5px;"
                                                           th:text="${artical['createDate']}"></a>
                                                    </i>
                                                    <i class="am-icon-folder">
                                                        <a a href="javascript:void(0);" style="font-size: 12px;"
                                                           th:text="${artical['categoriesName']}"></a>
                                                    </i>

                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="my-row" id="page-father">
                                <div id="pagination">
                                    <ul class="page am-pagination  am-pagination-centered">


                                        <li th:if="${pageInfo.hasPreviousPage}"><a
                                                th:href="@{'categories?pageIndex='+${pageInfo.prePage}}"
                                                aria-label="Previous"> <i class="fa fa-angle-left"></i>&nbsp;上一页
                                        </a></li>

                                        <th:block th:each="nav : ${pageInfo.navigatepageNums}">
                                            <li th:class="${nav==pageInfo.pageNum}?'am-active':''"><a
                                                    th:href="@{'categories?pageIndex='+${nav}}"
                                                    th:text="${nav}"></a></li>
                                        </th:block>

                                        <th:block th:if="${pageInfo.hasNextPage}">
                                            <li><a
                                                    th:href="@{'categories?pageIndex='+${pageInfo.nextPage}}"
                                                    aria-label="Next"> 下一页&nbsp;<i class="fa fa-angle-right"></i>
                                            </a></li>
                                        </th:block>

                                        <li><span th:text="'共'+${pageInfo.pages}+'页'"></span></li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>