<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${myinfo.webname}+'-相册'"></title>
    <link rel="icon" th:href="'img/'+${myinfo.webicon}"/>

    <link href="css/main.css" rel="stylesheet" type="text/css"/>
    <link href="css/sim-prev-anim.css" rel="stylesheet" type="text/css"/>

</head>
<script language="JavaScript">
    var galleryWin;
    function showGallery(id) {
        if(!galleryWin || galleryWin.closed) {
            var url = "gallery?gallery_id=" + id;
            window.open(url, '_galleryWin');
        }
    }

</script>
<body>

<div class="albums">
    <div class="albums-inner">
        <div class="albums-tab" th:each="gallerys , gallerysStat : ${gallerysInfo}">
            <div th:class="'albums-tab-thumb sim-anim-'+${gallerysStat.index+1}" th:onclick="'javascript:showGallery('+${gallerys.id}+')'">
                <th:block th:each="gallery : ${gallerys.gallery}">
                    <img th:src="'upload/gallery/'+${gallery.imgPath}" class="all studio"/>
                </th:block>
            </div>
            <div class="albums-tab-text" th:text="${gallerys.name}+' ('+${gallerys[num]}+')'"></div>
        </div>
    </div>
</div>
</body>
</html>

