<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://localhost:8848/myblog/bootstarp/css/bootstrap.min.css">

    <!--自定义css样式-->
    <link rel="stylesheet" href="http://localhost:8848/myblog/css/style.css">
    <title>首页</title>
</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand"><span><img class="img-circle" th:src="${bg_path}"></span>老干部的咖啡屋</a>
            <ul class="nav navbar-nav">
                <li class="active homepage"><a href=""><span class="glyphicon glyphicon-home"></span>&nbsp;首页</a></li>


                <li class="dropdown"><a href="#"><span class="glyphicon glyphicon-hdd"></span>&nbsp;数据库<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Oracle</a></li>
                        <li><a href="#">DB2</a></li>
                    </ul>
                </li>

                <li><a href="">操作系统</a></li>
                <li><a href="">JAVA</a></li>
                <li><a href="">我的故事</a></li>
                <li><a href="">去火星</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <a href="#" class="navbar-text">写博客</a>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>

            </ul>


            <!--<form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-sm">提交</button>
            </form>-->





        </div>
    </nav>




<script src="http://localhost:8848/myblog/jquery/jquery-3.3.1.min.js"></script>
<script src="http://localhost:8848/myblog/bootstarp/js/bootstrap.min.js"/>
</body>
</html>
