<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://localhost:8848/myblog/bootstarp/css/bootstrap.min.css">

    <!--自定义css样式-->
    <link rel="stylesheet" href="http://localhost:8848/myblog/css/style.css">
    <title>首页</title>
</head>
<body>

<!-- 导航栏 -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/index">Penguin's blog</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="dropdown"><a href="/post" class="dropdown-toggle" data-toggle="dropdown">文章<b class="caret"></b> </a>
                <ul class="dropdown-menu">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="divider"></li>
                    <li><a href="#">分离的链接</a></li>
                </ul>
            </li>
            <li><a href="#">相册</a> </li>
        </ul>
    </div>
    <!-- social -->
    <!-- 用font-awesome显示小图标 -->
    <div class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/penguin-penpen" target="_blank"><i class="icon icon-github"></i> </a></li>
        <li><a href=mailto:xxx@outlook.com><i class="icon icon-envelope"></i> </a></li>
        <li><a href="http://www.linkedin.com/in/"><i class="icon icon-linkedin"></i></a></li>
    </div>
</nav>

<script src="http://localhost:8848/myblog/jquery/jquery-3.3.1.min.js"></script>
<script src="http://localhost:8848/myblog/bootstarp/js/bootstrap.min.js"/>
</body>
</html>
