<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png"/>
    <!--<script src="js/jquery-3.3.1.min.js"></script>-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <!--bootstrap库-->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/comm.js"></script>
    <!--主要写的css代码-->
    <link href="css/default.css" rel="stylesheet" type="text/css"/>
    <title th:text="${myinfo.webname}"></title>
</head>
<style type="text/css">

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        position: relative;
        min-height: 1px;
        padding-right: 5px;
        padding-left: 5px;
    }

</style>
<script type="text/javascript">
    function homepage(){
    	window.location.href="/myblog";
    }
    function articalDetail(id){
    	window.location.href="artical-view?id="+id;
    }
    function visitWebsite(url){
    	window.open = url;
    }
</script>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-inverse">
        <div class="header">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"  href="javascript:void(0)" onclick="javascript:homepage()">
                	<span>
                		<img src="img/brand.jpg" class="img-circle"  style="height: 30px;width: 30px">
                	</span>
                	<label th:text="${myinfo.getWebname()}" onclick="javascript:homepage()"></label>
                </a>
            </div>
            <div class="container">
                <div id="navbar-menu" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                        	<a href="#">
                        		<span class="glyphicon glyphicon-home">&nbsp;首页</span>
                        	</a>
                        </li>
                        <li class="dropdown">
                            <a href="#">
                            	<span class="glyphicon glyphicon-th">&nbsp;分类</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="" href="#"><span class="glyphicon glyphicon-tag"></span>&nbsp;Java基础知识</a>
                                </li>
                                <li><a class="" href="#"><span class="glyphicon glyphicon-tag"></span>&nbsp;Spring boot</a>
                                </li>
                                <li><a class="" href="#"><span class="glyphicon glyphicon-tag"></span>&nbsp;redis缓存</a>
                                </li>
                                <li><a class="" href="#"><span class="glyphicon glyphicon-tag"></span>&nbsp;Apache反向代理</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#"><span class="glyphicon glyphicon-time">&nbsp;归档</span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-pencil">&nbsp;随笔</span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-bookmark">&nbsp;专题</span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-user">&nbsp;关于我</span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-eye-open">&nbsp;传送门</span></a></li>
                    </ul>
                    <!--<a class="write-blog" href="">
                        <span><img class="write-icon" src="http://localhost:8848/myblog/img/write-icon.png">写博客</span>
                    </a>
                    <a class="message-center" href="">
                        <span><img class="message-icon"
                                   src="http://localhost:8848/myblog/img/message-icon.png">消息中心</span>
                    </a>
                    <a href="#">
                        <button class="btn btn-sm">登录</button>
                    </a>
                    <a href="#">
                        <button class="btn btn-sm">注册</button>
                    </a>-->

                </div>
            </div>
        </div>
    </nav>
    <div id="content" class="row-fluid">
        <div class="col-md-9">
            <div class="col-md-12">
                <div class="block">
                    <div class="tab_box whitebg">
                        <div class="tab_buttons">
                            <ul >
                                <li class="newscurrent" th:each="navIndex ,navIndexStat :${navIndexList}" th:if="${navIndexStat.index==0}" th:text="${navIndex.name}"/>
                                <li class="news" th:each="navIndex ,navIndexStat :${navIndexList}" th:unless="${navIndexStat.index==0}" th:text="${navIndex.name}"/>
                            </ul>
                        </div>
                        <div class="newstab">
                            <div class="newsitem" th:each="artNavList,artNavListStat :${articalList}">
                                <div class="newspic">
                                    <!--背景图  大于2展示-->
                                    <ul th:if="${articalList[artNavListStat.index].size() > 2}">
                                        <li><a th:href="'artical-view?type=index&id='+${articalList[artNavListStat.index].get(0).id}"><img
                                                th:src="${articalList[artNavListStat.index].get(0).imgpath}">
                                                <span th:text="${articalList[artNavListStat.index].get(0).tittle}"></span></a></li>
                                        <li><a th:href="'artical-view?type=index&id='+${articalList[artNavListStat.index].get(1).id}"><img
                                                th:src="${articalList[artNavListStat.index].get(1).imgpath}">
                                                <span  th:text="${articalList[artNavListStat.index].get(1).tittle}"></span></a></li>
                                    </ul>
                                </div>
                                <!--与后台要形成对应 只展示前五条-->
                                <ul class="newslist" th:if="${articalList[artNavListStat.index].size() == 5}">
                                    <li  th:onclick="'javascript:articalDetail('+${articalList[artNavListStat.index].get(0).id}+')'"><i></i><a href="javascript:void(0);" th:text="${articalList[artNavListStat.index].get(0).tittle}"></a>
                                        <p th:text="${articalList[artNavListStat.index].get(0).summary}"/>
                                    </li>
                                    <li th:onclick="'javascript:articalDetail('+${articalList[artNavListStat.index].get(1).id}+')'"><i></i><a href ="javascript:void(0);" th:text="${articalList[artNavListStat.index].get(1).tittle}"></a>
                                        <p th:text="${articalList[artNavListStat.index].get(1).summary}"/>
                                    </li>
                                    <li th:onclick="'javascript:articalDetail('+${articalList[artNavListStat.index].get(2).id}+')'"><i></i><a href ="javascript:void(0);" th:text="${articalList[artNavListStat.index].get(2).tittle}"></a>
                                        <p th:text="${articalList[artNavListStat.index].get(2).summary}"/>
                                    </li>
                                    <li th:onclick="'javascript:articalDetail('+${articalList[artNavListStat.index].get(3).id}+')'"><i></i><a href ="javascript:void(0);" th:text="${articalList[artNavListStat.index].get(3).tittle}"></a>
                                        <p th:text="${articalList[artNavListStat.index].get(3).summary}"/>
                                    </li>
                                    <li th:onclick="'javascript:articalDetail('+${articalList[artNavListStat.index].get(4).id}+')'"><i></i><a href ="javascript:void(0);" th:text="${articalList[artNavListStat.index].get(4).tittle}"></a>
                                        <p th:text="${articalList[artNavListStat.index].get(4).summary}"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="block">
                <div class="card">
                    <h2>我的名片</h2>
                    <p>网名：<label th:text="${myinfo.getNickname()}"></label></p>
                    <p>职业：<label th:text="${myinfo.getOccupation()}"></label></p>
                    <p>现居：<label th:text="${myinfo.getAddress()}"></label></p>
                    <p>Email：<label th:text="${myinfo.getEmail()}"></label></p>
                    <ul class="linkmore">
                        <li><a href="/" target="_blank" class="iconfont icon-zhuye"
                               title="网站地址"></a>
                        </li>
                        <li>
                            <a href="/"  target="_blank" class="iconfont icon-youxiang" title="我的邮箱"></a></li>
                        <li><a href="/"  target="_blank" class="iconfont icon---" title="QQ联系我"></a></li>
                        <li id="weixin"><a href="" target="_blank" class="iconfont icon-weixin" title="关注我的微信"></a><i><img src="images/wx.png"></i></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="col-md-6 " th:each="articalCategories, articalBolck :${articalCategoriesList}">
                <div class="block">
                    <h2 class="htitle" th:text="${articalCategories.categoryName}"></h2>
                    <div class="content-list" th:each="artical ,articalStat: ${articals[articalBolck.index]}">
                        <span style="font-size: 12px;color:#aaa;margin-right: 5px;" th:text="${artical.createDate}"></span>
                        <a href="javascript:void(0);" th:onclick="'javascript:articalDetail('+${artical.id}+')'" th:text="${artical.tittle}"></a>
                    </div>
                    <div class="index-card-footer" style="text-align: right;">
                        <a href="/">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="block">
                <h2 class="htitle">专题整理</h2>
                <ul class="nav nav-tabs nav-stacked" th:each=" articalTopics : ${articalTopicsList}">
                    <li><a href='#' th:text="${articalTopics.topicName}"></a></li>
                </ul>
                <div class="" style="text-align: right;font-size: 0.85em;">
                    <a href="/">查看更多</a>
                </div>
            </div>

        </div>

        <div class="col-md-9">
            <div class="col-md-6 " th:each="articalCategories, articalBolck :${articalCategoriesList2}">
                <div class="block">
                    <h2 class="htitle" th:text="${articalCategories.categoryName}"></h2>
                    <div class="content-list" th:each="artical ,articalStat: ${articals[articalBolck.index]}">
                        <span style="font-size: 12px;color:#aaa;margin-right: 5px;" th:text="${artical.createDate}"></span>
                        <a href="javascript:void(0);" th:onclick="'javascript:articalDetail('+${artical.id}+')'" th:text="${artical.tittle}"></a>
                    </div>
                    <div class="index-card-footer" style="text-align: right;">
                        <a href="/">查看更多</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="block">
                <h2 class="htitle">标签</h2>
                <div>
                    <a href="/" style="font-size:17px;margin-right: 2px;" th:each="tags ,tagsStat :${tagsList}" th:text="${tags}" th:if="${tagsStat.index}%4==0"></a>
                    <a href="/" style="font-size:15px;margin-right: 2px;" th:each="tags ,tagsStat :${tagsList}" th:text="${tags}" th:if="${tagsStat.index}%4==1"></a>
                    <a href="/" style="font-size:12px;margin-right: 2px;" th:each="tags ,tagsStat :${tagsList}" th:text="${tags}" th:if="${tagsStat.index}%4==2"></a>
                    <a href="/" style="font-size:18px;margin-right: 2px;" th:each="tags ,tagsStat :${tagsList}" th:text="${tags}" th:if="${tagsStat.index}%4==3"></a>
                </div>
            </div>
        </div>




        <div class="col-md-9">
            <div class="col-md-8">
                <div class="block">
                    <h2 class="htitle">开源书籍</h2>
                    <div class="col-md-6">
                        <div class="content-list" th:each="books ,booksStat:${booksList}">
                            <span style="font-size: 12px;color:#aaa;margin-right: 5px;" th:if="${booksStat.even}" th:text="${books.publishDate}" ></span>
                            <a href="/" target="_blank"  th:if="${booksStat.even}" th:text="${books.bookName}"></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content-list" style="margin-top: -1px;" th:each="books ,booksStat:${booksList}">
                            <span style="font-size: 12px;color:#aaa;margin-right: 5px;" th:if="${booksStat.odd}" th:text="${books.publishDate}" ></span>
                            <a href="/" target="_blank"   th:if="${booksStat.odd}" th:text="${books.bookName}"></a>
                        </div>
						<div class="index-card-footer" style="text-align: right;">
                        	<a href="/">查看更多</a>
                    	</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block">
                    <h2 class="htitle">在线工具</h2>
                    <div class="content-list" th:each="onlineTools :${onlineToolsList}">
                        <span style="font-size: 12px;color:#aaa;margin-right: 5px;" th:text="${onlineTools.addDate}"></span>
                        <a th:href="${onlineTools.url}" target="_blank" th:text="${onlineTools.toolName}"></a>
                    </div>

                    <div class="index-card-footer" style="text-align: right;">
                        <a href="/">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 tongji">
            <div class="block">
                <h2 class="htitle">站点信息</h2>
                <ul>
                    <li><b>建站时间</b>：2019-01-24</li>
                    <li><b>网站程序</b>：cceshi</li>
                    <li><b>主题模板</b>：<a href="http://www.yangqq.com" target="_blank">《测试》</a></li>
                    <li><b>文章统计</b>：299条</li>
                    <li><b>文章评论</b>：490条</li>
                    <li><b>统计数据</b>：<a href="/">百度统计</a></li>
                    <li><b>微信公众号</b>：扫描二维码，关注我们</li>
                    <!--<img src="images/wxgzh.jpg" class="tongji_gzh">-->
                </ul>
            </div>
        </div>


            <div class="col-md-12 ">
                <div class="block">
                    <h2 class="htitle">最新更新</h2>
                    <div class="whitebg bloglist">
                        <ul>
                            <!--多图模式 置顶设计-->
                            <li th:if="${articalTop}">
                                <h3 class="blogtitle"><b>【顶】</b><a href="javascript:void(0);"  th:onclick="'javascript:articalDetail('+${articalTop.id}+')'" th:text="${articalTop.tittle}"></a></h3>
                                <span class="bplist">
                                	<a href="javascript:void(0);" th:onclick="'javascript:articalDetail('+${articalTop.id}+')'" > <img src="images/b02.jpg" alt=""></a>
                                	<a href="javascript:void(0);" th:onclick="'javascript:articalDetail('+${articalTop.id}+')'" ><img  src="images/b03.jpg" alt=""></a> 
                                	<a href="javascript:void(0);" th:onclick="'javascript:articalDetail('+${articalTop.id}+')'" ><img src="images/b04.jpg" alt=""> </a>
                                	<a href="javascript:void(0);" th:onclick="'javascript:articalDetail('+${articalTop.id}+')'" ><img src="images/b05.jpg" alt=""> </a>
                                </span>
                                <p class="blogtext" th:text="${articalTop.summary}"></p>
                                <p class="bloginfo" th:switch="${articalTop.getType()}" >
                                	<i class="avatar"><img src="images/avatar.jpg"></i>
                                	<span th:text="${articalTop.author}"></span>
                                	<span th:text="${articalTop.createDate}"></span>
                                	<span><a href="/"  th:case="'yc'" >【原创】</a></span>
                                	<span><a href="/"  th:case="'zz'" >【转载】</a></span>
                                	</p>
                            </li>
                            
                            <!--单图-->
                            <li th:each="articalHomepage :${articalListHomePage}">
                                <h3 class="blogtitle"><a href="javascript:void(0);"  th:onclick="'javascript:articalDetail('+${articalHomepage.id}+')'"  th:text="${articalHomepage.tittle}"></a></h3>
                                <p class="blogtext" th:text="${articalHomepage.summary}"/>
                                <p class="bloginfo" th:switch="${articalHomepage.getType()}">
                                    <i class="avatar"><img src="images/avatar.jpg"></i>
                                    <span th:text="${articalHomepage.author}"></span>
                                    <span th:text="${articalHomepage.createDate}"></span>
                                    <span><a href="/"  th:case="'yc'" >【原创】</a></span>
                                	<span><a href="/"  th:case="'zz'" >【转载】</a></span>
                                </p>
                                <a href="/" class="viewmore">阅读更多</a>
                            </li>

                        </ul>
                        <div class="pagelist"><a title="Total record">&nbsp;<b>67</b> </a>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a
                                href="/download/index_2.html">2</a>&nbsp;<a href="/download/index_3.html">3</a>&nbsp;<a
                                href="/download/index_2.html">下一页</a>&nbsp;<a href="/download/index_3.html">尾页</a></div>
                    </div>
                </div>
            </div>

    </div>
</div>
<footer>
	<div class="container" align="center">
		<div class="wxbox">
	         <ul>
	             <li><span>微信公众号&nbsp;</span><img src="images/wxgzh.jpg"></li>
	             <li><span>我的微信&nbsp;</span><img src="images/wx.png"></li>
	         </ul>
        </div>
        <div class="endnav">
            <p><b>站点声明：</b></p>
            <p>1、本站个人博客模板，均为本人设计，个人可以使用，但是未经许可不得用于任何商业目的。</p>
            <p>2、所有文章未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。举报邮箱：
            	<a href="/" target="_blank">lihairuizone@sina.com</a>
            </p>
            <p>Copyright © <a href="/" target="_blank">www.lihairuizone.com</a> All Rights Reserved. 备案号：<a href="/" target="_blank">陕ICP备11002373号-1</a></p>
        </div>
    </div>
    <a href="#" class="top"></a>
</footer>
</body>
</html>
