<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="author" content="EdieLei" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/viewer.css"/>
    <script src="lightgallery/js/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/viewer.js" type="text/javascript" charset="utf-8"></script>

<body>
<h3>HTML5 图片上传预览</h3>
<div class="docs-pictures clearfix">
    <img id="pic" src="" style="width: 200px;height: 200px;"/>
</div>
<input id="img" type="file" accept="image/*" />

<script src="lightgallery/js/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/viewer.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function() {
        $('#img').change(function() {
            var file = this.files[0]; //选择上传的文件
            var r = new FileReader();
            r.readAsDataURL(file); //Base64
            $(r).load(function() {
                $('#pic').attr('src',this.result);
            });
        });
    });
</script>
</head>


</body>