<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png"/>
    <title>老干部的咖啡屋-🎬</title>
    <!--可无视-->
    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="css/resetvideo.css">
    <!--布局样式，意义不大-->
    <link rel="stylesheet" href="css/demo.css">
    <!--核心样式-->
    <link rel="stylesheet" href="css/ckin.css">
</head>
<body>


<EMBED style="LEFT: 0px; POSITION: absolute; TOP: 0px; " align=right src="files/flash.swf" width=200 height=300 type=application/x-shockwave-flash wmode="transparent" quality="high" ;;></EMBED>




<script src="js/ckin.js"></script>

</body>
</html>