<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <style type="text/css">
        ul,li{ margin:0; padding:0; font-size:12px;}
        ul{ overflow:hidden;zoom:1;}
        ul li{float:left; display:inline; margin:0 1px;border-top:1px solid #ddd; list-style:none}
        ul li a{width:120px; height:30px; display:block; line-height:30px; text-align:center; font-weight:bold; text-decoration:none; background:#666 ;border-top:1px solid #ccc; color:#FFF;}
        ul li a:hover{background:#333;color:#C00;}
    </style>
</head>

<body>
<ul>
    <li><a href="#">首页</a></li>
    <li><a href="#">新闻</a></li>
    <li><a href="#">咨询</a></li>
</ul>
</body>
</html>