<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="${myinfo.webname}+'-🎬'"></title>
    <link rel="icon" th:href="'img/'+${myinfo.webicon}"/>
    <!--可无视-->
    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="css/resetvideo.css">
    <!--布局样式，意义不大-->
    <link rel="stylesheet" href="css/demo.css">
    <!--核心样式-->
    <link rel="stylesheet" href="css/ckin.css">
</head>
<body>
<OBJECT ID="mediaplayer" WIDTH="50%" HEIGHT="70%" CLASSID="CLSID:6BF52A52-394A-11d3-B153-00C04F79FAA6">
    <!--播放的文件的地址-->
    <param name="url" value="D:\upload\video\忠犬八公的故事.rmvb"/>
    <param name="autoStart" value="true" />
</OBJECT>
<section class="demo-section demo-section--light" id="demo">
    <div class="container">
        <h2 class="title heading" th:text="${video.name}"></h2>
        <video th:poster="'upload/video/cover/'+${video.coverPath}" th:src="'upload/video/'+${video.filePath}" data-ckin="default" data-overlay="1"
               data-title=""></video>

    </div>
</section>



<script src="js/ckin.js"></script>

</body>
</html>